body {
    background-color:white;
}

div#sidebar1 {
    height: 50%;
    width: 240px;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 40px;
    background-color:#636776;
}

.sidebar2 {
    height: 50%;
    width: 240px;
    position: fixed;
    left: 0;
    top: 50%;
    padding-top: 40px;
    background-color:#454A59;
}

.avatar{
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.sidebar div {
    padding: 8px;
    font-size: 24px;
    display: block;
}

.form-submit-button {
    background: #C4C4C4;
    color: #000000;
    border: 1px solid #eee;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    height:50px;
    width: 130px;
}

.form-submit-button:hover {
    background: #D3D3D3;
    color: #000000;
    border: 1px solid #eee;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
}

.button-container-div{
    text-align: center;
    /* border: 1px solid coral;*/
    height: 80px;
    width:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container-div2{
    text-align: center;
    /* border: 1px solid coral;*/
    height: 60px;
    width:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unstyledButton{
    color:#707D85;
    border: none;
    padding: 0;
    background: none;
    height:50px;
    width: 200px;
}
.unstyledButton:active{ 
    color:white;
    background: none;
    text-shadow: none;
    height:50px;
    width: 200px;
}
