.main-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
}

.sub-sidebar {
    position: fixed;
    top: 0;
    left: 240px;
    width: 240px;
    height: 100vh;
}

main {
    margin-left: 480px;
}

.collapse-icon {
    width: 10px;
    height: 13px;
}

.index-card {
    width: 400px;
    height: auto;
}