.main-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
}

.sub-sidebar {
    position: fixed;
    top: 0;
    left: 240px;
    width: 240px;
    height: 100vh;
}

main {
    margin-left: 480px;
}

.collapse-icon {
    width: 10px;
    height: 13px;
}

.center{
    width: 400px;
    height: 430px;

    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.horizontal-text-center{
    text-align: center;
}

.horizontal-center{
    width: 100%;
    margin: 0 auto;
}

.a-white{ color:white;}
a:hover{color:rgba(255, 255, 255, 0.5);}

.center-register{
    width: 400px;
    height: 550px;

    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}