.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100vh;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.collapse-icon {
    width: 10px;
    height: 13px;
}